body {
    cursor: pointer;
}

.center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {    
    height: 100vh;
}

.name {
    font-size: 10vw;
}

.genre {
    text-align: center;
}

.femme {
    color: darkmagenta;
    background-color: pink;
}


.male {
    color: darkblue;
    background-color: lightblue;
}

.ambi {
    background-color: forestgreen;
    color: white;
}