@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
footer {
  padding: 1.5rem;
  font-size: 0.8rem;
  height: 1rem;
  opacity: 0.8;
  background-color: #000000;
  color: white;
}
.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  cursor: pointer;
  height: calc(100vh - 4rem);
}

.name {
  font-size: 10vw;
}

.genre {
  text-align: center;
}

.femme {
  color: darkmagenta;
  background-color: pink;
}

.male {
  color: darkblue;
  background-color: lightblue;
}

.ambi {
  background-color: forestgreen;
  color: white;
}
